In [1]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

import pandas as pd
import scipy
from sklearn import *
import re
from SimpleCountVectorizer import *
from TFIDFVectorizer import *

from nltk.stem import WordNetLemmatizer, SnowballStemmer

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kr0no\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
"""Given an int32 number, print it in English."""
def int_to_en(num):
    d = { 0 : 'zero', 1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five',
          6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten',
          11 : 'eleven', 12 : 'twelve', 13 : 'thirteen', 14 : 'fourteen',
          15 : 'fifteen', 16 : 'sixteen', 17 : 'seventeen', 18 : 'eighteen',
          19 : 'nineteen', 20 : 'twenty',
          30 : 'thirty', 40 : 'forty', 50 : 'fifty', 60 : 'sixty',
          70 : 'seventy', 80 : 'eighty', 90 : 'ninety' }
    k = 1000
    m = k * 1000
    b = m * 1000
    t = b * 1000

    assert(0 <= num)

    if (num < 20):
        return d[num]

    if (num < 100):
        if num % 10 == 0: return d[num]
        else: return d[num // 10 * 10] + '-' + d[num % 10]

    if (num < k):
        if num % 100 == 0: return d[num // 100] + ' hundred'
        else: return d[num // 100] + ' hundred and ' + int_to_en(num % 100)

    if (num < m):
        if num % k == 0: return int_to_en(num // k) + ' thousand'
        else: return int_to_en(num // k) + ' thousand, ' + int_to_en(num % k)

    if (num < b):
        if (num % m) == 0: return int_to_en(num // m) + ' million'
        else: return int_to_en(num // m) + ' million, ' + int_to_en(num % m)

    if (num < t):
        if (num % b) == 0: return int_to_en(num // b) + ' billion'
        else: return int_to_en(num // b) + ' billion, ' + int_to_en(num % b)

    if (num % t == 0): return int_to_en(num // t) + ' trillion'
    else: return int_to_en(num // t) + ' trillion, ' + int_to_en(num % t)

    raise AssertionError('num is too large: %s' % str(num))

# Count Vectorizer

In [3]:
train_df = pd.read_csv("./data/quora_train_data.csv")
test_df = pd.read_csv('./data/quora_test_data.csv')

# train_df, test_df = sklearn.model_selection.train_test_split(train_df, test_size=0.1, random_state=123)

In [4]:
train_df.shape, test_df.shape

((323432, 6), (80858, 6))

In [6]:
def cast_list_as_strings(mylist):
    """
    return a list of strings
    """
    assert isinstance(mylist, list), f"the input mylist should be a list it is {type(mylist)}"
    
    # return list(map(lambda x: str(x), all_questions)) # Slower
    return [str(s) for s in mylist]

In [7]:
all_questions = cast_list_as_strings(list(train_df.loc[:, 'question1'])+list(train_df.loc[:, 'question2']))
print(set(type(x).__name__ for x in all_questions))

{'str'}

In [8]:
def num_conv(s):
    try:
        return int_to_en(int(s)).replace(",","").replace(" ","_")
    except:
        return s


def my_doc_cleaner(doc,
                  pat=r"[^a-zA-Z0-9]"):
    # Allow alphanumeric characters
    doc_cleaner_pattern=pat
    clean_doc_pattern = re.compile(doc_cleaner_pattern)
    doc_clean = clean_doc_pattern.sub(" ", doc)
    return doc.lower()


# stpw = set(stopwords.words("english"))
stpw = []

stemmer =  SnowballStemmer(language='english')
lemmatizer = WordNetLemmatizer()

def my_tokenizer_func(doc, 
                      ngrams=(1,3), 
                      numbers_to_words=True,
                      stop_words=stpw,
                      pat=r"(?u)\b\w\S*\w*\b",
                      lem=True,
                      stem=True):
    
    # Split using a patterm
#     pat=r"(?u)\b\w\w+\b"
#     pat=r"(?u)\b\w\S*\w*\b"
    token_pattern = re.compile(pat)
    lst = token_pattern.findall(doc)
    
    # Transform numbers into words
    if numbers_to_words:
        lst = list(map(lambda x: num_conv(x), lst))
        
    # Drop stopwords 
    lst = list(filter(lambda x : x not in stop_words, lst))
    
    #Stemmer
    if stem:
        lst = list(map(lambda x: stemmer.stem(x), lst))
    
    #Lemmatizer 
    if lem:
        lst = list(map(lambda x: lemmatizer.lemmatize(x), lst))
        
    if ngrams==(1,1):
        return lst
    
    # Generate ngrams
    lstRet = []
    for a in range(ngrams[0], ngrams[1]+1):
        if a!=1:
            lstRet+=list(zip(*[lst[i:] for i in range(a)]))
    return lstRet if ngrams[0]!=1 else lst+lstRet

In [9]:
count_vect = SimpleCountVectorizer(
    doc_cleaner_func=my_doc_cleaner,
    tokenizer_func=my_tokenizer_func
)
count_vect.fit(all_questions)

HBox(children=(FloatProgress(value=0.0, max=646864.0), HTML(value='')))

SimpleCountVectorizer(doc_cleaner_func=<function my_doc_cleaner at 0x00000232833F0678>,
                      doc_cleaner_pattern='[^a-zA-Z]',
                      dtype=<class 'numpy.float32'>, min_word_counts=1,
                      token_pattern='(?u)\\b\\w\\w+\\b',
                      tokenizer_func=<function my_tokenizer_func at 0x00000232833F0798>,
                      word_transformer_func=None)

In [10]:
def get_features_from_df(df, vectorizer):
    """
    returns a sparse matrix containing the features build by the count vectorizer.
    Each row should contain features from question1 and question2.
    """
    q1_casted =  cast_list_as_strings(list(df["question1"]))
    q2_casted =  cast_list_as_strings(list(df["question2"]))
    
    q1 = vectorizer.transform(q1_casted)
    q2 = vectorizer.transform(q2_casted)
    
    X_q1q2 = scipy.sparse.hstack((q1,q2))
        
    return X_q1q2

In [11]:
X_tr_q1q2 = get_features_from_df(train_df,count_vect)
X_te_q1q2  = get_features_from_df(test_df, count_vect)

X_tr_q1q2.shape, train_df.shape, test_df.shape, X_te_q1q2.shape

((323432, 6166022), (323432, 6), (80858, 6), (80858, 6166022))

In [12]:
y_train = train_df["is_duplicate"].values
y_test = test_df['is_duplicate'].values

In [13]:
logistic = sklearn.linear_model.LogisticRegression(solver="liblinear", verbose=1, max_iter=100)
logistic.fit(X_tr_q1q2, y_train)

[LibLinear]

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=1,
                   warm_start=False)

In [14]:
logistic.score(X_tr_q1q2, y_train), logistic.score(X_te_q1q2, y_test)

(0.9963609043013678, 0.808565633579856)

In [21]:
def get_mistakes(clf, X_q1q2, y):

    predictions = clf.predict(X_q1q2)    
    incorrect_predictions = predictions!=y

    incorrect_indices = np.where(incorrect_predictions)[0]
    
    if np.sum(incorrect_predictions)==0:
        print("no mistakes in this df")
    else:
        return incorrect_indices, predictions
    
def print_mistake_k(k, mistake_indices, predictions):
    print(train_df.iloc[mistake_indices[k]].question1)
    print(train_df.iloc[mistake_indices[k]].question2)
    print("true class:", train_df.iloc[mistake_indices[k]].is_duplicate)
    print("prediction:", predictions[mistake_indices[k]])
    
def print_mistake_k_and_tokens(k, mistake_indices, predictions,
                               X_q1q2, count_vect, clf):
    q1 = train_df.iloc[mistake_indices[k]].question1
    q2 = train_df.iloc[mistake_indices[k]].question2
    
    print(q1)
    print(count_vect.tokenize(q1))
    print()
    print(q2)
    print(count_vect.tokenize(q2))
    print()
    print("true class:", train_df.iloc[mistake_indices[k]].is_duplicate)
    print("prediction:", predictions[mistake_indices[k]])
    print()
    print("Probability vector: [P(0|x), P(1|x)]:")
    print(clf.predict_proba(X_q1q2)[mistake_indices[k],:])
    
    
def hist_errors(mistake_indices, predictions,
                               X_q1q2, count_vect, clf):
    qs = train_df.iloc[mistake_indices][['question1', 'question2']]
    qs['true_class']=train_df.iloc[mistake_indices].is_duplicate
    qs['prediction']=predictions[mistake_indices]
    qs['P(1|x)']=clf.predict_proba(X_q1q2)[mistake_indices,:][:,1]
    qs = qs.reset_index(drop=True)
    return qs

In [22]:
mistake_indices, predictions = get_mistakes(logistic, X_te_q1q2, y_test)

In [23]:
print_mistake_k(0, mistake_indices, predictions)

How do I study for Honeywell company recruitment?
How do I study for Honeywell company recruitments?
true class: 1
prediction: 0

In [24]:
print_mistake_k_and_tokens(0, mistake_indices, predictions,
                           X_te_q1q2, count_vect, logistic)

How do I study for Honeywell company recruitment?
['how', 'do', 'i', 'studi', 'for', 'honeywel', 'compani', 'recruit', ('how', 'do'), ('do', 'i'), ('i', 'studi'), ('studi', 'for'), ('for', 'honeywel'), ('honeywel', 'compani'), ('compani', 'recruit'), ('how', 'do', 'i'), ('do', 'i', 'studi'), ('i', 'studi', 'for'), ('studi', 'for', 'honeywel'), ('for', 'honeywel', 'compani'), ('honeywel', 'compani', 'recruit')]

How do I study for Honeywell company recruitments?
['how', 'do', 'i', 'studi', 'for', 'honeywel', 'compani', 'recruit', ('how', 'do'), ('do', 'i'), ('i', 'studi'), ('studi', 'for'), ('for', 'honeywel'), ('honeywel', 'compani'), ('compani', 'recruit'), ('how', 'do', 'i'), ('do', 'i', 'studi'), ('i', 'studi', 'for'), ('studi', 'for', 'honeywel'), ('for', 'honeywel', 'compani'), ('honeywel', 'compani', 'recruit')]

true class: 1
prediction: 0

Probability vector: [P(0|x), P(1|x)]:
[0.81335534 0.18664466]

# TFIDF

In [25]:
tfidf_vectorizer = TFIDFVectorizer(count_vect.vocabulary, count_vect.word_to_ind, count_vect.tokenize)
tfidf_vectorizer.fit(all_questions)

TFIDF fit finished in 181.48 seconds

In [26]:
X_tfidf_tr_q1q2 = get_features_from_df(train_df, tfidf_vectorizer)
X_tfidf_te_q1q2  = get_features_from_df(test_df, tfidf_vectorizer)

X_tfidf_tr_q1q2.shape, train_df.shape, test_df.shape, X_tfidf_te_q1q2.shape

TFIDF transform finished in 91.75 seconds
TFIDF transform finished in 93.02 seconds
TFIDF transform finished in 22.81 seconds
TFIDF transform finished in 23.93 seconds

((323432, 6166022), (323432, 6), (80858, 6), (80858, 6166022))

In [27]:
logistic = sklearn.linear_model.LogisticRegression(solver="liblinear", verbose=1, max_iter=100)
logistic.fit(X_tfidf_tr_q1q2, y_train)

[LibLinear]

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=1,
                   warm_start=False)

In [28]:
logistic.score(X_tfidf_tr_q1q2, y_train), logistic.score(X_tfidf_te_q1q2, y_test)

(0.9006499047713276, 0.7898167157238616)

In [29]:
mistake_indices, predictions = get_mistakes(logistic, X_tfidf_te_q1q2, y_test)

In [30]:
print_mistake_k(0, mistake_indices, predictions)

How do I study for Honeywell company recruitment?
How do I study for Honeywell company recruitments?
true class: 1
prediction: 0

In [31]:
print_mistake_k_and_tokens(0, mistake_indices, predictions,
                           X_tfidf_te_q1q2, tfidf_vectorizer, logistic)

How do I study for Honeywell company recruitment?
['how', 'do', 'i', 'studi', 'for', 'honeywel', 'compani', 'recruit', ('how', 'do'), ('do', 'i'), ('i', 'studi'), ('studi', 'for'), ('for', 'honeywel'), ('honeywel', 'compani'), ('compani', 'recruit'), ('how', 'do', 'i'), ('do', 'i', 'studi'), ('i', 'studi', 'for'), ('studi', 'for', 'honeywel'), ('for', 'honeywel', 'compani'), ('honeywel', 'compani', 'recruit')]

How do I study for Honeywell company recruitments?
['how', 'do', 'i', 'studi', 'for', 'honeywel', 'compani', 'recruit', ('how', 'do'), ('do', 'i'), ('i', 'studi'), ('studi', 'for'), ('for', 'honeywel'), ('honeywel', 'compani'), ('compani', 'recruit'), ('how', 'do', 'i'), ('do', 'i', 'studi'), ('i', 'studi', 'for'), ('studi', 'for', 'honeywel'), ('for', 'honeywel', 'compani'), ('honeywel', 'compani', 'recruit')]

true class: 1
prediction: 0

Probability vector: [P(0|x), P(1|x)]:
[0.73466044 0.26533956]

In [32]:
######### SEARCH QUESTIONS WITH SAME TOKENS ###########

q1_casted =  cast_list_as_strings(list(train_df["question1"]))
q2_casted =  cast_list_as_strings(list(train_df["question2"]))

q1 = count_vect.transform(q1_casted)
q2 = count_vect.transform(q2_casted)

same_tokens_idxs = []
for i in range(len(q1_casted)):
    same_features = ( q1[i] != q2[i] ).nnz == 0
    if same_features:
        same_tokens_idxs.append(i)
    if i % 500 == 0: print(i)

same_tokens_idxs = np.array(same_tokens_idxs)


same_tokens = train_df.iloc[same_tokens_idxs]
duplicates = same_tokens['is_duplicate'] == 1

0
500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000
10500
11000
11500
12000
12500
13000
13500
14000
14500
15000
15500
16000
16500
17000
17500
18000
18500
19000
19500
20000
20500
21000
21500
22000
22500
23000
23500
24000
24500
25000
25500
26000
26500
27000
27500
28000
28500
29000
29500
30000
30500
31000
31500
32000
32500
33000
33500
34000
34500
35000
35500
36000
36500
37000
37500
38000
38500
39000
39500
40000
40500
41000
41500
42000
42500
43000
43500
44000
44500
45000
45500
46000
46500
47000
47500
48000
48500
49000
49500
50000
50500
51000
51500
52000
52500
53000
53500
54000
54500
55000
55500
56000
56500
57000
57500
58000
58500
59000
59500
60000
60500
61000
61500
62000
62500
63000
63500
64000
64500
65000
65500
66000
66500
67000
67500
68000
68500
69000
69500
70000
70500
71000
71500
72000
72500
73000
73500
74000
74500
75000
75500
76000
76500
77000
77500
78000
78500
79000
79500
80000
80500
81000
81500
82000
82500
83000
83500
84000
84500
85000
85500
86000
86500
87000
87500
88000
88500
89000
89500
90000
90500
91000
91500
92000
92500
93000
93500
94000
94500
95000
95500
96000
96500
97000
97500
98000
98500
99000
99500
100000
100500
101000
101500
102000
102500
103000
103500
104000
104500
105000
105500
106000
106500
107000
107500
108000
108500
109000
109500
110000
110500
111000
111500
112000
112500
113000
113500
114000
114500
115000
115500
116000
116500
117000
117500
118000
118500
119000
119500
120000
120500
121000
121500
122000
122500
123000
123500
124000
124500
125000
125500
126000
126500
127000
127500
128000
128500
129000
129500
130000
130500
131000
131500
132000
132500
133000
133500
134000
134500
135000
135500
136000
136500
137000
137500
138000
138500
139000
139500
140000
140500
141000
141500
142000
142500
143000
143500
144000
144500
145000
145500
146000
146500
147000
147500
148000
148500
149000
149500
150000
150500
151000
151500
152000
152500
153000
153500
154000
154500
155000
155500
156000
156500
157000
157500
158000
158500
159000
159500
160000
160500
161000
161500
162000
162500
163000
163500
164000
164500
165000
165500
166000
166500
167000
167500
168000
168500
169000
169500
170000
170500
171000
171500
172000
172500
173000
173500
174000
174500
175000
175500
176000
176500
177000
177500
178000
178500
179000
179500
180000
180500
181000
181500
182000
182500
183000
183500
184000
184500
185000
185500
186000
186500
187000
187500
188000
188500
189000
189500
190000
190500
191000
191500
192000
192500
193000
193500
194000
194500
195000
195500
196000
196500
197000
197500
198000
198500
199000
199500
200000
200500
201000
201500
202000
202500
203000
203500
204000
204500
205000
205500
206000
206500
207000
207500
208000
208500
209000
209500
210000
210500
211000
211500
212000
212500
213000
213500
214000
214500
215000
215500
216000
216500
217000
217500
218000
218500
219000
219500
220000
220500
221000
221500
222000
222500
223000
223500
224000
224500
225000
225500
226000
226500
227000
227500
228000
228500
229000
229500
230000
230500
231000
231500
232000
232500
233000
233500
234000
234500
235000
235500
236000
236500
237000
237500
238000
238500
239000
239500
240000
240500
241000
241500
242000
242500
243000
243500
244000
244500
245000
245500
246000
246500
247000
247500
248000
248500
249000
249500
250000
250500
251000
251500
252000
252500
253000
253500
254000
254500
255000
255500
256000
256500
257000
257500
258000
258500
259000
259500
260000
260500
261000
261500
262000
262500
263000
263500
264000
264500
265000
265500
266000
266500
267000
267500
268000
268500
269000
269500
270000
270500
271000
271500
272000
272500
273000
273500
274000
274500
275000
275500
276000
276500
277000
277500
278000
278500
279000
279500
280000
280500
281000
281500
282000
282500
283000
283500
284000
284500
285000
285500
286000
286500
287000
287500
288000
288500
289000
289500
290000
290500
291000
291500
292000
292500
293000
293500
294000
294500
295000
295500
296000
296500
297000
297500
298000
298500
299000
299500
300000
300500
301000
301500
302000
302500
303000
303500
304000
304500
305000
305500
306000
306500
307000
307500
308000
308500
309000
309500
310000
310500
311000
311500
312000
312500
313000
313500
314000
314500
315000
315500
316000
316500
317000
317500
318000
318500
319000
319500
320000
320500
321000
321500
322000
322500
323000

,id,qid1,qid2,question1,question2,is_duplicate
154,3148,6241,6242,How do I overcome my inferiority complex ?,How do I overcome my inferiority complex?,0
170,15678,29935,29936,How can I make money as a 13 year old?,How can I make money as a thirteen year old?,0
246,403514,253677,537096,What are the most haunted places in delhi?,What are the most haunted place in delhi?,0
1723,290549,26661,70364,What language is used in Visual Basic? How doe...,What language is used in Visual Basic? How doe...,0
2145,184520,281899,281900,What are the best things about modeling?,What are the best things about models?,0
...,...,...,...,...,...,...
316104,45535,81584,81585,What is the definition of blog?,What is the definition of blogging?,0
316373,288872,294219,122887,What is the difference between : and ; ?,"What is the difference between "":="" and ""::="" ?",0
317754,248848,285169,362342,What does this symbol mean?,What does this '≜' symbol mean?,0
318279,102122,169021,169022,What is refrigerant?,What is refrigeration?,0
319355,273876,392410,392411,What is Timing?,What is timee?,0

In [33]:
same_tokens[duplicates]

,id,qid1,qid2,question1,question2,is_duplicate
1,327668,454117,345117,How do I study for Honeywell company recruitment?,How do I study for Honeywell company recruitme...,1
163,251786,317853,86925,How do I get permanent residence in New Zealand?,How do I get permanent residency in New Zealand?,1
873,351007,479805,479806,What is Open source technology?,What is open source technologies?,1
1644,383603,474670,70140,Who will be the next president of US ?,Who will be the next president of US?,1
1857,346791,421809,140365,What are some examples of vertebrated animals?,What are some examples of vertebrate animals?,1
...,...,...,...,...,...,...
322629,302747,425769,425770,How is the word 'servile' used in a sentence?,"How is the word ""servile"" used in a sentence?",1
322814,272376,390622,390623,Is there any good reading room available near ...,Is there any good reading room available near ...,1
322882,115624,188516,188517,Two hot copper and steel balls long sitting in...,Two hot copper and steel balls long sitting in...,1
323043,256986,372216,372217,Do virus and Bacteria have souls?,Do viruses and bacteria have souls?,1
323320,76582,130894,130895,What's the best website in which I can take up...,Whats the best website in which I can take up ...,1

In [34]:
same_tokens[~duplicates]

,id,qid1,qid2,question1,question2,is_duplicate
154,3148,6241,6242,How do I overcome my inferiority complex ?,How do I overcome my inferiority complex?,0
170,15678,29935,29936,How can I make money as a 13 year old?,How can I make money as a thirteen year old?,0
246,403514,253677,537096,What are the most haunted places in delhi?,What are the most haunted place in delhi?,0
1723,290549,26661,70364,What language is used in Visual Basic? How doe...,What language is used in Visual Basic? How doe...,0
2145,184520,281899,281900,What are the best things about modeling?,What are the best things about models?,0
...,...,...,...,...,...,...
316104,45535,81584,81585,What is the definition of blog?,What is the definition of blogging?,0
316373,288872,294219,122887,What is the difference between : and ; ?,"What is the difference between "":="" and ""::="" ?",0
317754,248848,285169,362342,What does this symbol mean?,What does this '≜' symbol mean?,0
318279,102122,169021,169022,What is refrigerant?,What is refrigeration?,0
319355,273876,392410,392411,What is Timing?,What is timee?,0